<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InitSvl</servlet-name>
        <servlet-class>linhtnl.controllers.InitSvl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSvl</servlet-name>
        <servlet-class>linhtnl.controllers.LoginSvl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>linhtnl.controllers.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PagingSvl</servlet-name>
        <servlet-class>linhtnl.controllers.PagingSvl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>linhtnl.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSvl</servlet-name>
        <servlet-class>linhtnl.controllers.SearchSvl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitSvl</servlet-name>
        <url-pattern>/index.html</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSvl</servlet-name>
        <url-pattern>/LoginSvl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PagingSvl</servlet-name>
        <url-pattern>/PagingSvl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSvl</servlet-name>
        <url-pattern>/SearchSvl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
